body {
  display: flex;
  justify-content: center;

  background: linear-gradient(
    90deg,
    hsla(234, 100%, 42%, 0.661) 0%,
    #fd66027e 100%
  );
}
.cont {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  padding: 2rem;
  border-radius: 10px;
  width: 70%;
  background-color: #512915;
  gap: 10px;
  justify-content: center;
  align-items: center;

  box-shadow: 2px 2px 10px #00000039;
}

select,
button {
  gap: 10px;
  width: 60%;
  height: 2rem;
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: #fa8d28;

  color: white;
}

img {
  border-radius: 10px;
  
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.222);
  overflow: hidden;
  margin-top: 1rem;
  max-width: 100%;
}

span {
  color: red;
}

.foot {
  font-size: 0.8rem;
  font-weight: 100;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.foot a {
  text-decoration: none;
  color: rgb(249, 249, 249);
}

