 body {
        display: flex;
        justify-content: center;
        background-color: #ff00ae20;
      }
      .cont {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
        padding: 2rem;
        border-radius: 10px;
        width: 70%;
        background-color: white;
        gap: 10px;
        justify-content: center;
        align-items: center;
        box-shadow: 2px 2px 10px #00000039;
      }

      select,
      button {
        gap: 10px;
        width: 60%;
        height: 2rem;
        border: none;
        text-align: center;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        background-color: #fe8300ea;

        color: white;
        box-shadow: 0px 0px 10px #00000044;
      }

      img {
        border-radius: 10px;
        border: 4px solid #ffffff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.222);
        overflow: hidden;
        margin-top: 1rem;
        max-width: 100%;
      }

      span{
        color: red;
      }